.card_header{
    padding: 10px;
    text-align: center;
}
.card_header img{
    margin-top: 25px;
    text-align: center;
}
.inf_card h1{
    margin-bottom: 15px;
    text-align: center;
}
.card_container{
    width: 320px;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.372);
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
}
.card_checkbox{
    text-align: center;
    padding: 12px 12px;
}

.container_checkbox{
    display: flex;
    align-items: center;
    transform: scale(1);
    margin-left: 37%;
}
   
input[type="checkbox"] {
    height: 1.7rem;
    width: 1.7rem;
    margin: 5px;
    display: inline-block;
    appearance: none;
    position: relative;
    background-color: #F2ECFF;
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.4);
}
   
input[type="checkbox"]::after {
    content: '';
    display: block;
    height: 0.9rem;
    width: .4rem;
    border-bottom: .31rem solid white;
    border-right: .31rem solid white;
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 21%;
    transition: .25s ease;
}
   
input[type="checkbox"]::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    background-color: #93DEFF;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
}
   
input[type="checkbox"]:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
}
   
input[type="checkbox"]:checked::after {
    opacity: 100%;
}

.card_checkbox_ref{
    padding-left: 26%;
    display: grid;
    grid-template-columns: 120px 120px;
}
.card_checkbox_ref label{
    font-size: 25px;
    font-weight: bolder;
}
.card_container_ref{
    width: 620px;
    padding: 20px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    margin-left: 40%;
    background-color: rgba(255, 255, 255, 0.372);

}