*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --white1: #F7F7F7;
  --whiteblue: #6fd4ff;
  --gray: #606470;
  --darkgray: #000000;
  --hover: #dff5ff;
}
main{
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("./Fondo7.png");
  width: auto;
  padding-top: 40px;
  padding-left: 60px;
}
.table_container table{
  margin: auto;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 6%;
  margin-right: auto;
}
td, th {
  text-align: center;
  vertical-align: center;
  border-bottom: 1px solid black;
  padding: 0.8em;
  background-color: rgba(255, 255, 255, 0.53);
}
thead ,th{
  background-color: var(--darkgray);
  color: white;
}
table tr:hover{
  background-color: var(--hover);
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.list_user table{
  width: 100%;
}
.vote_list{
  margin-bottom: 30px;
  text-align: center;
}
.vote_list table{
  margin-left: 32%;
}
.vote_list h1{
  margin-bottom: 15px;
  color: white;
}
.vote_container{
  display: grid;
  grid-column-start: 2;
  grid-template-columns: auto auto auto auto;
  width: 100;
  padding: 0;
}
.vote_type{
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 33%;
  width: 230px;
  height: 30px;
  border-radius: 10px;
  font-size: 17px;
  text-align: center;
}
.votacion_pendiente_lista{
  margin-top: 60px;
  text-align: center;
}
.votacion_pendiente_lista h1{
  color: white;
}

.estadistic_container{
  padding: 0 30px;
}

.estadistics_page{
  display: grid;
  grid-template-columns: 30% 70%;
}
.container_estadistics_results{
  display: grid;
  grid-template-columns: 30% 70%;
}
.container_vote_complete{
  border: 1px solid var(--darkgray);
  width: 92vw;
  margin-left: 20px;
  padding: 20px 50px;
  border-radius: 17px;
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.372);
}
.container_vote_complete h1{
  text-align: center; 
 }
 .container_vote_complete button{
   margin-left: 44%;
   margin-top: 70px;
   width: 150px;
   height: 50px;
 }
.estadistica_container h1{
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
.political_page{
  display: grid;
  grid-template-columns: 40% auto;
}
.political_party_page h1{
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
.container_vote_complete_ref{
  border: 1px solid var(--darkgray);
  width: 80vw;
  margin: auto;
  padding: 20px 50px;
  border-radius: 17px;
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.372);
}
.container_vote_complete_ref h1{
  text-align: center; 
 }
 .container_vote_complete_ref button{
   margin-left: 44%;
   margin-top: 70px;
   width: 150px;
   height: 50px;
 }